<form onsubmit="addProduct(this)">

    <label for="">
        <input type="text" id="name"  placeholder="insert title">
    </label>
    <label for="">
        <input type="text" id="description"  placeholder="insert description">
    </label>
    <label>
        <input type="number" id="price"  placeholder="set price">
    </label>
    <label>
    <input type="number" id="stock"  placeholder="set stock">
    </label>
    <label>
    <input type="text" id="thumbnails"  placeholder="insert url">
    </label>
    <input type="submit" value="Submit a product" onclick="preventDef()">
</form>
   
