<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">
    <header>
      
    </header>
    
    <main>
        <div class="">
            <h1>products</h1>
            

            <%- include('../partials/products'); %>
        </div>
    </main>

 
</body>