<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./main.js"></script>
</head>
<body class="container">
    
    <header>
      
    </header>
    
    <main>
        <div class="">
            <h1>Add Product</h1>
            

            <%- include('../partials/addProduct'); %>
        </div>
    </main>

 
</body>
</html>