<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
</head>
<body class="container">
    <header>
      
    </header>
    
    <main>
        <div class="">
            <h1>products</h1>
            

            <%- include('../partials/products', productos: productos); %>
        </div>
    </main>

 
</body>