<form onsubmit="addMessage(this)">

    <label for="">
       <input type="text" id="userName"  placeholder="userName">
   </label>
    <label>
       <input type="text" id="message"  placeholder="Message">
   </label>
   
    <input type="submit" value="send message" onclick="preventDef()">
</form>