 <form action="/" method="post">

 <label for="">
    <input type="text" name="title"  placeholder="insert title">
</label>
 <label>
    <input type="number" name="price"  placeholder="set price">
</label>
<label>
    <input type="text" name="thumbnails"  placeholder="insert url">
</label>
    <input type="submit" value="Submit a product">
</form>

<form  action="/productos" >
    <input type="submit" value="view products">
</form>
    